<%= javascript_include_tag "statistics_overview" %>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
<!--          <button class="button is-success">Past Year</button>-->
<!--          <button class="button is-success">Past Month</button>-->
<!--          <button class="button is-success">Past Week</button>-->
        </div>
      </div>
    </div>
    <div class="column is-narrow has-text-centered">
      <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
          <div class="charts">
            <%= column_chart Scrobble.where(user_id: current_user.id).group_by_month(:created_at, format: '%b %Y').count, title: 'Listens by Month', width: "800px", height: "300px" %>
            <br>

            <%= pie_chart Scrobble.where(user_id: current_user.id).group_by_day_of_week(:created_at, format: '%A').count, title: 'Listens by Day of the Week', width: "800px", height: "300px" %>
            <br>
          </div>
          <div class="column is-narrow has-text-centered">
            <div class="columns is-centered">
              <div class="column is-narrow has-text-centered">
                <p class="title is-3">Top Artists</p>
                <table class="table" id="artist-table">
                  <thead>
                  <tr>
                    <td><b>Artist</b></td>
                    <td><b>Number of listens</b></td>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="column is-narrow has-text-centered">
                <p class="title is-3">Top Tracks</p>
                <table class="table" id="track-table">
                  <thead>
                  <tr>
                    <td><b>Track</b></td>
                    <td><b>Artist</b></td>
                    <td><b>Number of listens</b></td>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
