<%= javascript_include_tag "statistics_overview" %>

<div class="container">
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
<!--          <button class="button is-success">Past Year</button>-->
<!--          <button class="button is-success">Past Month</button>-->
<!--          <button class="button is-success">Past Week</button>-->
        </div>
      </div>
    </div>
    <div class="column is-narrow has-text-centered">
      <div class="columns is-centered">
        <div class="column is-narrow has-text-centered">
          <div class="charts">
            <%= column_chart Scrobble.where(user_id: current_user.id).group_by_month(:created_at).count, title: 'Listens by Month', width: "700px", height: "300px" %>
          </div>
          <div id="error-text" class="error-text is-hidden">
            <p class="title is-4">
              You don't have enough data for this range.
            </p>
            <p class="title is-4">
              Try uploading your streaming history <a href="/data/upload">here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>