<div class="container">
  <div class="buttons">
    <% @top_artists.each do |artist| %>
      <button class="button" onclick="activate('<%= artist.id %>')" id="<%= artist.id %>"><%= artist.name %></button>
    <% end %>
  </div>

  <div class="buttons">
    <button class="button is-success">Submit</button>
    <button class="button is-danger">Cancel</button>
  </div>
</div>

<script>
  function activate(id) {
    var element = document.getElementById(id);
    classList = element.classList;

    if (classList.contains("is-primary")) {
      classList.remove("is-primary");
    } else {
      classList.add("is-primary");
    }

  }
</script>