<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Artist</td>
        <td>Album</td>
        <td>Genres</td>
      </tr>
    </thead>
    <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.name %></td>
        <td>
          <%= link_to truncate(track.artists.first.name, length: 30), controller: 'spotify', action: 'artist', id: track.artists.first.id %>
        </td>
        <td><%= track.album.name %></td>
        <td><%= truncate(track.artists.first.genres.join(', '), length: 50) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>