<div class="container">
  <%= form_with(url: 'spotify/recommendations', method: "post") do %>
    <div class="columns">
      <div class="column">
        <% @top_artists.each do |artist| %>
          <%= check_box_tag(:"#{artist.id}", :"#{artist.id}", false, class: "is-checkradio") %>
          <%= label_tag(:"#{artist.id}", artist.name) %>
        <% end %>
      </div>
      <div class="column">
        <label for="acousticness">Acousticness</label>
        <input class="slider is-fullwidth" id="acousticness" step="5" min="0" max="100" value="50" type="range">
      </div>
    </div>
  <% end %>
</div>