<%= javascript_include_tag "data_upload" %>

<div class="container">
  <div class="columns is-centered">
    <div class="column">
      <div class="title is-2">
        File Upload
      </div>
      <div class="title is-4">
        Instructions on how to get your data
      </div>
    </div>
    <div class="column">
      <div class="file is-boxed">
        <label class="file-label">
          <input class="file-input" id="file-input" type="file" name="file-upload" multiple>
          <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
        </label>
      </div>
    </div>
  </div>
</div>
