<%= javascript_include_tag "data_upload" %>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<div class="container">
  <div class="columns is-centered">
    <div class="column">
      <div class="title is-2">
        File Upload
      </div>
      <div class="title is-4">
        1. Go to <a href="http://spotify.com/us/account">spotify.com/us/account</a> and enter your login credentials.
      </div>
      <div class="title is-4">
        2. In the menu on the left-hand side of the screen, click on Privacy settings.
      </div>
      <div class="title is-4">
        3. Scroll down to the Download your data section.
      </div>
      <div class="title is-4">
        4. Go to Step 1 > Request. You will probably have to complete a captcha.
      </div>
      <div class="title is-4">
        5. You will receive an on-screen notification saying Spotify is processing your data. It could take up to 30 days.
      </div>
      <div class="title is-4">
        6. When the processing is complete, you will receive an email.
      </div>
      <div class="title is-4">
        7. After seeing the email, return to Privacy settings; you will now have access to Step 3.
      </div>
      <div class="title is-4">
        8. Click on Download.
      </div>
      <div class="title is-4">
        9. Find the files with the names "StreamingHistory" with a number on them. Upload those files with the button to the right.
      </div>
    </div>
    <div class="column">
      <div class="file is-boxed">
        <label class="file-label">
          <input class="file-input" id="file-input" type="file" name="file-upload" multiple>
          <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
        </label>
      </div>
    </div>
  </div>
</div>
